/**
* {{summary}}
*
* {{method}}: {{& fullPath}}
* {{#params}}
    * {{groupId}}:
    *   {{#properties}}{{& details}}
    *   {{/properties}}{{/params}}
*/
exports.handler = function {{id}}(req, res, next) {
res.send('{{id}}')
next()
}