.camera-feed {
  & .camera-feed-container {
    width: 100%;
    height: calc( 100vh - 55px );
    min-height: 60rem;
    margin-top: 0px;
    position: absolute;
    top: 55px;
    line-height: 100%;
    background-color: #ffffff;
    background: url('../../assets/images/background-02.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:before{
      content: "";
    }
    & .camera-feed-img {
      width: 100%;
    }
    &:after{
      content: "";
    }
  }
  & .check{
    margin-top: 5px;
  }
  & .alert-box{
  	transition: all .3s ease-in-out;
  	padding: 60px 20px 30px;
  	position: absolute;
    text-align: center;
    border-radius: 0 4px 4px 0;
    margin-top: 10px;
    background-color: rgba(242, 242, 242, 0.85);
  	transform: translateX( -500px );
    width: 350px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    
    &.alert-out-unknown{
      background-color: #fc4c02;
      height: 65;
      padding: 0;
      & .top-strip{
        opacity: 0;
      }
      & .message{
        color: #fff;
        font-size: 1.6rem;
      }
      & .profile-img-holder{
        height: 0;
      }
    }

    & .top-strip{
      width: 100%;
      height: 36px;
      border-radius: 0 4px 0 0;
      left: 0;
      top: 0;
      position: absolute;
      background-color: #c4d600;
    }

  	&.alert-out, &.alert-out-unknown{
  		transform: translateX( 0px );
      & .message{
        opacity: 1;
      }
  	}
    & .profile-img-holder{
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin: auto;
      display: block;
      overflow: hidden;
      & .profile-pic{
        height: 100%;
        width: 100%;  
      }
    }
    & .message{
      opacity: 0;
      font-size: 2.4rem;
      margin-top: 25px;
      color: #252525;
      text-transform: capitalize;
    }
  }
}